<p id="notice"><%= notice %></p>

<h2>Welcome to <%= @restaurant.name %></h2>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone_number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h3>Our Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> - rating [<%= review.rating %>/5]</li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

